.contact-title {
  font-weight: bold;
  display: flex;
  margin-right: 220px;
}

.online {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: greenyellow;
  align-self: center;
  margin-left: 5px;
}
