.social-block {
  width: 80%;
  margin: auto;
}

.social {
  margin-bottom: 20px;
}

.messengers {
  padding: 25px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.instagram,
.twitter,
.facebook {
  cursor: pointer;
}

.instagram,
.twitter {
  margin-bottom: 20px;
}

.user {
  margin-left: 10px;
}
.user-facebook {
  margin-left: 15px;
  margin-bottom: 20px;
}



