.message-buttons {
  display: flex;
  color: #2b323a;
}
.investments {
  margin-left: 40px;
  cursor: pointer;
}
.voice {
  margin-left: 40px;
  cursor: pointer;
}
.send-message {
  margin-left: 30px;
}

.btn-add {
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 18px;
  color: #2b323a;
}
