.message-buttons {
  display: flex;
  color: #2b323a;
  font-size: 18px;
}

.investments {
  cursor: pointer;
}

.voice {
  margin-left: 50.62px;
  cursor: pointer;
}

.send-message {
  margin-left: 35px;
}

.btn-add {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  font-size: 16px;
  color: #2b323a;
}
