.outer-sent-messages{
    display: grid;
    justify-content: end;
}
.sent-messages {
    background-color: #3e444a;
    color: white;
    margin-bottom: 10px;
    display: block;
    float: right;
    position: relative;
    padding: 10px 10px 5px;
    margin-right: 10px;
}
.sent-messages:before {
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #3e444a;
    position: absolute;
    right: -20px;
    top: 17px;
}
.sent-messages-text {
    margin-right: 15px;
    margin-bottom: 10px;
}
.message-data {
    font-size: 13px;
    text-align: right;
}
.data {
    margin-right: 5px;
}