.info-bar-enter {
    width: 0;
}

.info-bar-enter-active {
    width: 360px;
}

.info-bar-exit {
    width: 360px;
}

.info-bar-exit-active {
    width: 0;
}

.animate {
    width: 100%;
}

.animate-bar{
    overflow: hidden;
    transition: width 0.5s;
}

