.main {
    flex: 1;
}
.inner-main{
    padding: 0 15px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: #363636;
    height: 100vh;
    justify-content: space-between;
}
.inner-main::-webkit-scrollbar {
    width: 0;
}
.message-header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 11111111;
    top: 1px;
    font-size: 20px;
    padding: 20px 10px;
    border-bottom: 1px solid lightgray;
    background-color: white;
}
.search-chat {
    color: darkgray;
    cursor: pointer;
    flex: 1;
}
.online {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: greenyellow;
    align-self: center;
    margin-left: 5px;
}
.contact-title {
    font-weight: bold;
    display: flex;
    flex: 1;
    margin-right: 80px;
}
.chat-settings {
    color: darkgray;
    cursor: pointer;
}

.message-container {
    padding-top: 20px;
    flex: 1;
}

.message-form {
    position: sticky;
    bottom: 0.1px;
}
.inner-message-form{
    padding: 20px 0;
    border-top: 1px solid lightgray;
    background-color: white;
    display: flex;
    color: darkgray;
    justify-content: space-between;
}
.message-text {
    color: gray;
    outline: none !important;
    border: none;
    font-size: 15px;
    flex: 1;
}


