.information-bar{
    width: 330px;
    background-color: #f7f8f9;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
.inner-information-bar{
    width: 280px;
    padding: 50px 25px 0 25px;
}
.social-block{
    margin-bottom: 30px;
}
.social{
    margin-bottom: 20px;
}
.messengers{
    border-radius: 5px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
    display: flex;
    flex-direction: column;
}
.instagram,
.twitter,
.facebook {
    cursor: pointer;
}
.instagram,
.twitter {
    margin-bottom: 20px;
}
.user{
    margin-left:10px;

}
.media{
    margin-bottom: 20px;
}
.media-rod{
    background-color: #fff;
    box-shadow: 0 -0.1px 5px rgba(194, 191, 191, 0.226);
    display: flex;
    padding: 15px;
    align-items: center;
}
.file{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #72a1e7;
}
.text{
    margin-left:10px;
}
.user-facebook{
    margin-left: 15px;
}