.contact {
  padding: 15px;
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
}

.selected {
  background-color: #363d45;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #3e444a;
  margin-left: 10px;
  margin-right: 10px;
}

.online {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: greenyellow;
}

.offline {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.image {
  color: white;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.user-head-title {
  margin: auto;
}

.user-title {
  display: flex;
}

.user-last-message {
  font-size: 14px;
  width: 160px;
  color: #86898d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.user-name {
  font-size: 16px;
  color: white;
  cursor: text;
  width: 160px;
}

.user-check {
  color: #86898d;
  font-size: 10px;
  margin-top: 2px;
  margin-right: 3px;
  cursor: text;
}

.user-menu {
  margin-right: 15px;
  margin-top: 7px;
}

.user-more {
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(20px);
  opacity: 0;
}

.user-last-time {
  font-size: 13px;
  color: #86898d;
  cursor: text;
}

.contact:hover .user-more {
  transform: translateY(0);
  opacity: 1;
}

.contact:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-top: solid 1px #3e444a;
  border-bottom: solid 1px #3e444a;
  transition: 0.2s;
  transform: scaleX(0);
  cursor: auto;
}

.contact:hover:before {
  transform: scale(1);
  cursor: pointer;
}