.chat-settings {
  color: darkgray;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  flex: 1 1;
  text-align: end;
}

.chat-settings:hover {
  color: #3e444a;
  transition: 0.5s;
}
