body {
  margin: 0;
  padding: 0;
}

.contacts {
  width: 25%;
  background-color: #2b323a;
  height: 100vh;
}

.contact:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-top: solid 2px #3e444a;
  border-bottom: solid 2px #3e444a;
  transition: 0.2s;
  transform: scaleX(0);
  cursor: auto;
}

.contact:hover:before {
  transform: scale(1);
  cursor: pointer;
}

.input {
  background-color: #363d45;
  outline: none;
  border: none;
  height: 28px;
  width: 80%;
  flex: 1;
  font-size: 18px;
  color: #e6e6e6;
}

.line {
  height: 1px;
  background-color: #3e444a;
}

.online {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: greenyellow;
}
