.ellipsis {
  margin-left: 5px;
  cursor: pointer;
}

.btn-delete {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #3e444a;
  color: white;
  font-size: 13px;
  line-height: 10px;
}

.btn-delete:hover {
  color: lightgray;
}