.sidebar-header {
  padding-top: 20px;
  box-sizing: border-box;
}

.head-block {
  display: flex;
  height: 40px;
  width: 90%;
  margin: auto 20px;
  background-color: #363d45;
  border-radius: 50px;
  margin-bottom: 20px;
}

.magnifier {
  font-size: 16px;
  margin: auto 0;
  margin-left: 20px;
  color: #ffffff;
}

.search {
  margin: auto 0;
  margin-left: 10px;
}

.input {
  background-color: #363d45;
  outline: none;
  border: none;
  height: 28px;
  width: 80%;
  flex: 1;
  font-size: 18px;
  color: #e6e6e6;
}

.line {
  height: 1px;
  background-color: #3e444a;
}
