.spinner-head {
    display: flex;
    font-size: 25px;
    margin: auto;
}

.spinner {
    width: 25px;
    height: 25px;
    border: 3px solid transparent;
    border-left: 3px dotted grey;
    border-right: 3px double grey;
    border-bottom: 3px double grey;
    border-radius: 25px;
    animation: spin 1s linear infinite;
    margin-right: 5px;
}

@keyframes spin{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}